@font-face {
  font-family: "PoppinsRegular";
  src: local("PoppinsRegular"),
   url("./components/styles/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsExtraBold";
  src: local("PoppinsExtraBold"),
   url("./components/styles/Poppins/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
   url("./components/styles/Open_Sans/OpenSans-Italic.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-font {
  font-family: "PoppinsRegular", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.main-bold-font {
  font-family: "PoppinsExtraBold", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.main-Sans-font {
  font-family: "OpenSans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
  
.modal-header {
  border-bottom: none !important;
}

.modal-content {
  border-radius: 0 !important;
}